.post {
  display: flex;
  padding: 1rem;
  border-bottom: 1px solid var(--twitter-secondary);
  transition: background-color 0.2s;
}

.post:hover {
  cursor: pointer;
  background-color: var(--twitter-secondary);
}

.post__content {
  display: flex;
  flex-direction: column;
  padding-left: 1rem;
}

.post__header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.post__titles {
  display: flex;
  align-items: center;
}

.post__titles h3 {
  font-size: 1rem;
}

.post__titles h4 {
  font-size: 0.9rem;
  margin-left: 0.5rem;
  font-weight: 400;
  color: var(--grey-2);
}

.post__options {
  cursor: pointer;
}

.post__descripton {
  font-size: 0.9rem;
}

.post__media img {
  border-radius: 10px;
  max-width: 100%;
  max-height: 100%;
}

.post__footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 0.9rem;
}
